<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being created</h2>
  <ul>
    <% @article.errors.full_messages.each do | msg | %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @article do | f | %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", placeholder: "Body of article", rows: 10 %>
  </div>
  <div class="offset-2 form-group">
    <%= f.submit class: "btn btn-primary btn-lg" %>
  </div>
<% end %>


<!--<form>-->
<!--  <div class="form-group">-->
<!--    <label for="exampleInputEmail1">Email address</label>-->
<!--    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="exampleInputPassword1">Password</label>-->
<!--    <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--  </div>-->
<!--  <div class="form-group form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->