<h1 align="center">Listing all articles:</h1>
<!--<p>-->
  <%#= link_to "Create new article", new_article_path %>
<!--</p>-->
<!--<table>-->
<!--  <tr>-->
<!--    <th>Title</th>-->
<!--    <th>Description</th>-->
<!--  </tr>-->

  <% @articles.each do | article | %>
<!--  <div class="row">-->
<!--    <div class="col-xs-8 offset-2">-->
      <div class="card card-body">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body">
          <%= article.description %>
        </div>
        <%= link_to "Edit", edit_article_path(article) %>
        <%= link_to "Show", article_path(article) %>
        <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
<!--    </div>-->
<!--  </div>-->
<!--  <tr>-->
<!--    <td><%#= article.title %></td>-->
<!--    <td><%#= article.description %></td>-->
<!--    <td><%#= link_to "Edit", edit_article_path(article) %></td>-->
<!--    <td><%#= link_to "Show", article_path(article) %></td>-->
<!--    <td><%#= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %></td>-->
<!--  </tr>-->
  <% end %>
<!--</table>-->